* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  background-color: #f3e5d8;
  padding: 150px 0px;
}
img {
  width: 100%;
  border-radius: 20px;
}
.wrapper {
  width: 700px;
  background-color: #ffffff;
  color: #333;
  overflow: hidden;
  padding: 30px;
  border-radius: 20px;
}

.main__title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  margin: 20px 0px;
}

.main__desc {
  margin: 30px 0px;
  line-height: 1.5;
  color: hsl(30, 10%, 34%);
}

.preparation__sec {
  background-color: hsl(30, 54%, 90%);
  padding: 15px 40px;
  border-radius: 20px;
}

.sub__title {
  font-size: 30px;
  margin-bottom: 10px;
  color: hsl(14, 45%, 36%);
}
.sub-sec-title {
  color: hsl(332, 51%, 32%);
  padding: 10px 0px;
}
.sub__items {
  margin: 0px 30px;
}
.sub__items li > b {
  font-weight: bold;
  color: hsl(24, 5%, 18%);
  letter-spacing: 0.5px;
}

ul.sub__items li {
  margin: 5px 0px;
}

h5.inter__title {
  font-size: 35px;
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  margin: 30px 0px;
}

ul.inter__items {
  margin-left: 25px;
  line-height: 1.5;
}
ul.inter__items > li {
  padding-left: 15px;
  letter-spacing: 1px;
}

hr {
  border-top: 0px solid hsl(30, 18%, 87%);
  margin: 30px 0px;
}

.unorderlist ol li {
  line-height: 1.5;
  padding-left: 13px;
  color: hsl(30, 10%, 34%);
  font-weight: 500;
}

.nutrition {
  margin-top: 15px;
}

.nutrition > p {
  margin-bottom: 5px;
  font-size: 17px;
}

.nutrition ul > li {
  list-style: none;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition ul {
  display: flex;
  justify-content: space-between;
}
.card-table {
  width: 100%;
  border-collapse: collapse;
}

.card-table td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px 0px;
  padding-left: 20px;
}

.table-col {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

@media only screen and (max-width: 375px) {
  .wrapper {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
  }
  body {
    margin: 0 auto;
    padding: 0px 0px;
  }
  img {
    border-radius: 0;
  }
  .main__title,
  .main__desc {
    padding: 0px 25px;
  }
  .preparation__sec {
    margin: 0px 28px;
    padding: 11px 21px;
    border-radius: 12px;
  }
  .inter__sec {
    margin: 0px 35px;
  }
  .unorderlist {
    margin: 0px 38px;
  }
  .nutrition {
    margin: 24px 24px;
  }
}
